[submodule "ROS_WS/src/usb_cam"]
	path = ROS_WS/src/usb_cam
	url = https://github.com/MacRover/usb_cam.git
[submodule "realsense-ros"]
	path = ROS_WS/src/realsense-ros
	url = https://github.com/MacRover/realsense-ros.git
[submodule "ROS_WS/src/odometry_transformer"]
	path = ROS_WS/src/odometry_transformer
	url = https://github.com/MacRover/odometry_transformer
