<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find control)/joint_controller/config/arm_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/arm" args="joint_state_controller
					  base_hinge_position_controller
            lower_hinge_position_controller
            upper_hinge_position_controller
            forearm_hinge_position_controller
            wrist_hinge_position_controller
            claw_right_hinge_position_controller
            claw_left_hinge_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/arm/joint_states" />
  </node>

</launch>
