<?xml version="1.0" encoding="UTF-8"?>
<launch>

   <node name="xbox_controller" pkg="joy" type="joy_node" respawn="true"/>
   <node name="controller_driver" pkg="control" type="controller_drive_control.py" respawn="true"/>
   <node name="heart_beat" pkg="control" type="cmd_vel_repeater.py" respawn="true"/>

</launch>