<launch>

  <arg name="model" default="rover2"/>
  <!-- <arg name="model" default="$(find simulation)/robotiq_85_description/urdf/robotiq_85.urdf"/> -->
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find simulation)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(find simulation)/robot/$(arg model).urdf" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(arg rvizconfig)" required="true" />

</launch>
