<launch>

  <arg name="model" default="$(find bringup)/urdf/rover.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find bringup)/rviz/urdf.rviz" />
  <arg name="rviz" default="false" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <include if="$(arg rviz)" file="$(find bringup)/launch/rviz.launch"/>
</launch>